aside {
	background-color: #ffffff;
	z-index: 2;
	.logo {
		background-color: #6673fc;
		color: #ffffff;
		height: 80px;
		min-height: 80px;
		i {
			font-size: 35px;
		}
	}
	ul {
		padding-top: 20px;
		overflow-y: auto;
		.sidebar-menu {
			margin-top: 0 !important;
			a {
				color: #444;
				border-top-color: transparent;
				margin: 0;
				padding: 17px 15px;
				font-size: 13px;
				i:first-of-type {
					font-size: 25px;
				}
				i.fa-chevron-right {
					transition: transform .3s ease-in-out;
					&.open {
						transform: rotate(90deg);
					}
				}
				& + ul {
					background-color: #f4f6f9;
					li {
						a {
							padding: 8px 15px 8px 43px;
						}
						&:hover a {
							color: #4680ff;
						}
					}
				}
			}
			&.active, &:hover, &.multi-open {
				& > a {
					background-color: #f4f6f9;
					color: #4680ff;
				}
			}
		}
		.sidebar-user-panel {
			.sidebar-user {
				display: inline-block;
				width: 100%;
				padding: 10px;
				text-align: center;
				margin: 20px 0px;
				.sidebar-user-picture {
					img {
						width: 70px;
						border-radius: 20%;
						box-shadow: 0px 5px 5px 0px rgba(44, 44, 44, 0.2);
						margin: 0 auto;
					}
				}
				.sidebar-user-details {
					.user-name {
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						margin-top: 7px;
						color: #000;
						font-size: 14px;
						font-weight: 600;
					}
					.user-role {
						font-weight: 400;
						color: #0a0a0a;
						font-size: 11px;
						letter-spacing: 0.5px;
					}
				}
			}
		}
	}
	&.shrinked {
		ul {
			overflow: visible;
			.sidebar-user-panel {
				display: none;
			}
			.sidebar-menu {
				ul {
					display: none;
				}
				&:hover {
					width: 256px;
					ul {
						display: block;
					}
					a {
						span {
							position: relative;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
.side-main-content {
	overflow: auto;
	.sticky-header {
		position: sticky;
		top: 0;
		height: 80px;
		min-height: 80px;
		z-index: 1;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
}
.profile-menu {
	.language-dropdown, .profile-dropdown {
		button {
			font-size: 14px;
		}
		ul {
			min-width: 175px;
			right: 0;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22) !important;
			li {
				color: #555;
				font-size: 13px;
				padding: 8px 16px;
				text-decoration: none;
				clear: both;
				font-weight: 300;
				line-height: 18px;
				white-space: nowrap;
				i {
					margin-top: 1px;
					width: 15px;
					margin-right: 9px;
				}
				span {
					line-height: 1;
					display: inline-block;
				}
			}
		}
	}
	.profile-dropdown {
		button {
			.img-circle {
				margin-right: 5px;
				height: 29px;
				border-radius: 50%;
				vertical-align: middle;
			}
		}
	}
}
.card-box {
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #deebfd;
	box-shadow: -8px 12px 18px 0 #dadee8;
	.card-head {
		border-radius: 2px 2px 0 0;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
		padding: 2px;
		/* text-transform: uppercase; */
		color: #3a405b;
		font-size: 14px;
		font-weight: 600;
		line-height: 40px;
		min-height: 40px;
		header {
			display: inline-block;
			padding: 11px 20px;
			vertical-align: middle;
			line-height: 17px;
			font-size: 17px;
			letter-spacing: 1px;
		}
	}
	.card-body {
		padding: 10px 24px 14px 24px;
		position: relative;
		#tabs {
			border-bottom: 1px solid #e0e0e0;
			a {
				width: calc(100% / 3);
				text-decoration: none !important;
				margin: 0;
				border: none;
				padding: 0 24px;
				float: left;
				position: relative;
				display: block;
				text-decoration: none;
				height: 48px;
				line-height: 48px;
				text-align: center;
				font-weight: 500;
				font-size: 14px;
				text-transform: uppercase;
				color: rgba(0,0,0,.54);
				overflow: hidden;
				&.is-active {
					color: rgba(0,0,0,.87);
					&::after {
						height: 2px;
						width: 100%;
						display: block;
						content: " ";
						bottom: 0;
						left: 0;
						position: absolute;
						background: rgb(63,81,181);
						-webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1) .01s alternate forwards;
						animation: border-expand .2s cubic-bezier(.4,0,.4,1) .01s alternate forwards;
						transition: all 1s cubic-bezier(.4,0,1,1);
					}
				}
			}
		}
		#tab-contents {
			.load-more-btn {
				font-size: 11px;
				padding: 6px 18px;
				outline: 0;
				border: 0;
				font-weight: 600;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
			}
			.table {
				width: 100%;
				margin-bottom: 1rem;
				color: #212529;
				vertical-align: top;
				border-color: #dee2e6;
				tr {
					&:first-child th {
						border: 0;
					}
					td, th {
						text-align: left;
						padding: 10px 8px;
						vertical-align: middle;
					}
					td {
						border-bottom-width: 1px;
					}
				}
			}
		}
	}
}
.patient-img img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.professors-list {
	height: 450px;
	overflow: auto;
	li {
		display: inline-block;
		width: 100%;
		border-bottom: 1px dashed #dcdcdc;
		margin-bottom: 11px;
		padding-bottom: 11px;
		.prog-avatar {
			width: 40px;
			height: 40px;
			float: left;
			margin-right: 25px;
			img {
				width: 100%;
				border-radius: 50%;
				-webkit-border-radius: 50%;
			}
		}
		.details {
			font-size: 14px;
			.title {
				a {
					text-shadow: none;
					color: #337ab7;
					text-decoration: none;
				}
			}
			span {
				&.clsAvailable {
					color: #0cc745;
					font-size: 13px;
					font-weight: 600;
				}
				&.clsNotAvailable {
					color: #ff0000;
					font-size: 13px;
					font-weight: 600;
				}
				&.clsOnLeave {
					color: #32c5d2;
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
	}
}
.all-professors {
	.page-header {
		.page-title {
			font-size: 24px;
			color: #666;
			margin-bottom: 15px;
			margin-top: 15px;
			padding: 0;
			letter-spacing: 1px;
			display: block;
			margin: 0 0 15px;
			font-weight: 600;
		}
	}
	.page-body {
		.card-body {
			.search-filter {
				font-size: 15px;
				.show-entries-dropdown {
					select {
						font-size: 12px;
						width: auto;
						display: inline-block;
						border-radius: 2px;
						padding: 3.5px 31.5px 3.5px 7px;
						font-weight: 400;
						line-height: 1.5;
						color: #212529;
						border: 1px solid #ced4da;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
					}
				}
				.search-professors {
					input {
						margin-left: .5em;
						display: inline-block;
						width: auto;
						height: 39px;
						padding: 6px 12px;
						font-size: 14px;
						line-height: 1.42857143;
						color: #555;
						background-color: #fff;
						background-image: none;
						border: 1px solid #ccc;
						border-radius: 4px;
						-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
						-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
						-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
						transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
						outline: 0 !important;
						box-shadow: none !important;
					}
				}
			}
			.professors-list-table {
				table tr {
					td, th {
						border: 1px solid #dee2e6;
					}
					td a {
						i {
							font-size: 12px;
							position: relative;
							line-height: 1;
							border-color: transparent;
							padding: 8px;
							height: 100%;
							border-radius: 5px;
							cursor: pointer;
						}
						&.tblDelBtn i {
							background-color: rgba(255, 68, 0, 0.2);
							color: #fa6c39;
						}
						&.tblEditBtn i {
							background-color: rgba(0, 255, 10, 0.2);
							color: #4caf50;
						}
					}
				}
			}
		}
	}
}
.breadcrumb {
	padding: 15px 15px;
	margin-top: 10px;
	display: inline-block;
	margin: 0;
	list-style: none;
	border-radius: 50px;
	background: rgba(220, 208, 208, 0.3);
	padding-left: 20px !important;
	li {
		i {
			color: #aaa;
			padding: 0 5px;
		}
		a {
			color: #888;
			&:hover {
				color: #1ebdcc !important;
			}
		}
		&.active {
			color: rgba(0, 0, 0, 0.87);
		}
	}
}
.profile-sidebar {
	.card {
		background-color: #fff;
		border-radius: 10px;
		position: relative;
		margin-bottom: 30px;
		border: 1px solid #deebfd;
		box-shadow: -8px 12px 18px 0 #dadee8;
		.card-head {
			border-radius: 2px 2px 0 0;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
			padding: 2px;
			color: #3a405b;
			font-size: 14px;
			font-weight: 600;
			line-height: 40px;
			min-height: 40px;
			header {
				display: inline-block;
				padding: 11px 20px;
				vertical-align: middle;
				line-height: 17px;
				font-size: 17px;
				letter-spacing: 1px;
			}
		}
		.card-body {
			padding: 10px 24px 14px 24px;
			position: relative;
			.profile-userpic img {
				margin: 0px auto;
				width: 130px;
				padding: 3px;
				border: 3px solid rgb(210, 214, 222);
				border-radius: 50% 50% 50% 50%;
			}
			.profile-usertitle {
				text-align: center;
				margin-top: 5px;
				.profile-usertitle-name {
					font-size: 20px;
					margin-bottom: 2px;
					font-weight: bold;
					color: #3a405b;
				}
				.profile-usertitle-job {
					color: #777777;
					font-size: 12px;
					margin-bottom: 5px;
				}
			}
			.list-group {
				display: flex;
				flex-direction: column;
				padding-left: 0;
				margin-bottom: 0;
				border-radius: .25rem;
				.list-group-item {
					padding: 7px 0;
					border-bottom: 1px solid rgba(0,0,0,.125);
					.profile-desc-item {
					    text-align: left;
					    font-size: 14px;
					    color: #6f6d6d;
					    width: 100px;
					}
					&:first-child {
						border-top: 1px solid rgba(0,0,0,.125);
					}
				}
			}
			.profile-stat {
			    padding-bottom: 20px;
			    border-bottom: 1px solid #f0f4f7;
			    margin-top: 10px;
			    margin-bottom: 15px;
			    .profile-stat-title {
				    color: #7f90a4;
				    font-size: 25px;
				    text-align: center;
				}
				.profile-stat-text {
				    color: #5b9bd1;
				    font-size: 11px;
				    font-weight: 800;
				    text-align: center;
				}
			}
			.work-monitor .states {
			    // width: 90%;
			    .info {
				    display: inline-block;
				    width: 100%;
				    font-size: 15px;
				    margin: 10px 0 0 0;
				    font-weight: 500;
				}
				.progress {
				    border: 0;
				    background-image: none;
				    filter: none;
				    -webkit-box-shadow: none;
				    -moz-box-shadow: none;
				    box-shadow: none;
				    height: 8px;
				    border-radius: 0 !important;
				    margin: 0;
				    display: flex;
				    overflow: hidden;
				    font-size: .75rem;
				    background-color: #e9ecef;
					.progress-bar-striped {
					    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
					    background-size: 1rem 1rem;
					}
					.progress-bar {
					    display: flex;
					    flex-direction: column;
					    justify-content: center;
					    overflow: hidden;
					    color: #fff;
					    text-align: center;
					    white-space: nowrap;
					    background-color: #0d6efd;
					    transition: width .6s ease;
					}
				    .progress-bar-danger {
					    background-color: #d9534f;
					}
					.progress-bar-success {
					    background-color: #36c6d3;
					}
				}
			}
		}
	}
}
.profile-content {
	.white-box {
	    border-top: 3px solid #00c0ef;
	    background: #ffffff;
	    padding: 20px;
	    margin-bottom: 15px;
	}
}